@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint&display=swap');

#container #qui{
	text-align:center;
	padding: 2%;
	font-family: 'Finger Paint', cursive;
	color: #eca8a8;
	font-size: 40px;
}
nav a .img{
	width:150px;
}
#head{
	display:flex;
	flex-wrap:wrap;
}
#head > #para{
	flex-basis: 40%;
	font-family: 'Dosis', sans-serif;
	font-size:20px;
	padding: 0 3px 0 3px
}
#head > #nevi{
	display: flex;
    flex-basis: 55.5%;
    justify-content: space-between;
    border: 1px solid black;
    padding: 2%;
    align-items: center;
	border-radius:48px;
	box-shadow: 1px 5px 13px #046277;
}
#head p .liens {
	text-decoration:none;
	color: orangered;
}
#bi{
	display:flex;
	justify-content:space-around;
	padding: 60px 0;
	text-align:center;
	font-family: 'Knewave', cursive;
	font-size: 24px;
}
#bi #color1{
	color:#8493ff;
}
#bi #color2{
	color:#525252
}
#bi #color3{
	color:orangered;
}
#imark{
	text-align:center;
	font-size:25px;
}
#pika{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#pika #pi{
	border-radius: 9%;
    box-shadow: 2px 5px 21px;
}
#pika > #figue{
	margin-top: 2%;
    font-size: 26px;
    margin-right: 3%;
	font-family: 'Luckiest Guy', cursive;
}
#navet #part{
	align-items: center;
    display: flex;
    flex-wrap: wrap;
	padding: 0 21%;
}
#navet nav .partlien{
	padding: 24px 59.7px;
}